<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="./style.css">
  <!-- ICONOS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <title>Document</title>
</head>


<body id="app" class="bg-dark">

  <div :class="{'openNav' : openModalNav}" class="modal-nav">
    <button class="close-modal-nav" @click="openModalNav = false">X</button>

    <button class="button-nav" @click="printNike"><img src="./assets/img/modeloNike.jpg">
      <div class="button-span-one"><span><img src="./assets/img/nikeBlanco.png"></span></div>
    </button>
    <button class="button-nav" @click="printAdidas"><img src="./assets/img/modeloAdidas.jpg">
      <div class="button-span-two"><span><img class="img-dif" src="./assets/img/adidasBlanco.png"></span></div>
    </button>
    <button class="button-nav" @click="printPuma"><img src="./assets/img/modeloPuma.jpg">
      <div class="button-span-three"><span><img src="./assets/img/pumaBlanco.png"></span></div>
    </button>

    <button class="button-nav" @click="printFav"><img src="./assets/img/favorite.jfif">
      <div class="button-span-three fw-bold"><span>YOUR FAVORITES</span></div>
    </button>

  </div>



  <header>
    <nav>
      <button class="button-header">Home<div class="line-hover"></div></button>
      <button class="button-header" @click="openModalNav = true">Shoes<div class="line-hover"></div></button>
      <button class="button-header" @click="page = 'contact'">Contact<div class="line-hover"></div></button>
      <button class="button-header">Desk<div class="line-hover"></div></button>
      <button class="button-header" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
        aria-controls="offcanvasRight" id="cart-button">
        Cart<div class="line-hover"></div>
    </nav>
  </header>

  <main>

    <!--cart  -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title fw-bold" id="offcanvasRightLabel">Cart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-header">
        <p>Check your products here!</p>
      </div>
      <div class="offcanvas-body">
        <template v-for="product in cart">
          <div class="card_cart m-3 d-flex align-items-start border p-3" v-if="product.inCart > 0">
            <div class="card-body">
              <img class="w-25" :src="product.image" alt="cart_imagen">
              <h5 class="card-title fw-bold">{{product.title}}</h5>
              <p class="card-text">Quantity: {{product.inCart}}</p>
              <p class="card-text">${{product.total}}</p>
              <button class="btn btn-sacar btn-dark " @click="deleteCartProduct(product)">Remove of cart</button>
            </div>
          </div>
          <div v-else></div>
        </template>
      </div>
      <div class="d-flex justify-content-center flex-column align-items-center border-top">
        <p class="fs-5"><span class="fw-bold">Total: </span>${{totalPrice}}</p>
        <button @click="buy" class="btn w-75 btn-success btn-comprar fw-bold mb-2" type="button">Buy!</button>
      </div>
    </div>


    <!-- LISTA DE PRODUCTOS -->
    <section class="d-flex flex-wrap justify-content-center gap-5"
      v-if="page === 'nike' || page === 'adidas' || page === 'puma' ">

      <h1 class="w-100 text-center text-light" v-if="page === 'nike'">NIKE</h1>
      <h1 class="w-100 text-center text-light" v-if="page === 'adidas'">ADIDAS</h1>
      <h1 class="w-100 text-center text-light" v-if="page === 'puma'">PUMA</h1>

      <template v-for="shoe in allShoes">
        <div class="card" style="width: 18rem;">
          <p class="position-absolute top-0 start-50 translate-middle bg-light text-danger w-75 stock fw-bold text-center border rounded-5"
            v-if="shoe.stock > 0 && shoe.stock < 5">¡Low Stock!</p>
          <p class="position-absolute top-0 start-50 translate-middle   w-75 stock fw-bold text-center "
            v-if="shoe.stock == 0"></p>
          <img :src="shoe.image" class="card-img-top" alt="...">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{shoe.title}}</h5>
            <p class=" ">${{shoe.price}}</p>

            <p v-if="shoe.stock > 0" class="card-text"> Stock left: {{shoe.stock}}</p>
            <p v-if="shoe.stock == 0" class="card-text"> Stock left: NO STOCK</p>

            <div class="col-12 d-flex justify-content-between">
              <button v-if="shoe.stock > 0" class="btn btn-dark justify-self-end col-10"
                v-on:click="addToCart(shoe)">Add to
                cart</button>
              <button href="#" v-if="shoe.stock == 0" class="btn btn-dark col-10"  disabled>No Stock</button>

              <button class=" heart col-2" v-if="shoe.fav === false" @click="addToFav(shoe)">🤍</button>
              <button class=" heart col-2" v-if="shoe.fav === true" @click="addToFav(shoe)">🧡</button>
            </div>
          </div>
        </div>
      </template>
    </section>

    <!-- FAVS -->
    <section v-if="page === 'fav'" class="d-flex flex-wrap justify-content-center gap-5">
      <h1 class="w-100 text-center">NIKE</h1>

      <div class="alert alert-warning h-100" v-if="favShoes.length === 0" role="alert">
        Nothing in favorites yet!!!
      </div>

      <template v-for="shoe in favShoes">
        <div class="card" style="width: 18rem;">
          <p class="position-absolute top-0 start-50 translate-middle bg-light text-danger w-75 stock fw-bold text-center border rounded-5"
            v-if="shoe.stock > 0 && shoe.stock < 5">¡Low Stock!</p>
          <p class="position-absolute top-0 start-50 translate-middle   w-75 stock fw-bold text-center "
            v-if="shoe.stock == 0"></p>
          <img :src="shoe.image" class="card-img-top" alt="...">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{shoe.title}}</h5>
            <p class=" ">${{shoe.price}}</p>

            <p v-if="shoe.stock > 0" class="card-text"> Stock left: {{shoe.stock}}</p>
            <p v-if="shoe.stock == 0" class="card-text"> Stock left: NO STOCK</p>

            <div>
              <button v-if="shoe.stock > 0" class="btn btn-dark justify-self-end w-75"
                v-on:click="addToCart(shoe)">Add to cart</button>
              <button href="#" v-if="shoe.stock == 0" class="btn btn-success" disabled>No Stock</button>
              <button class="w-25 heart" @click="addToFav(shoe)">🧡</button>

            </div>
          </div>
        </div>
      </template>
    </section>


    <!-- CONTACT -->
    <template v-if="page == 'contact'">
      <h1 class="text-secondary text-center mb-5">CONTACT</h1>

      <section class="d-flex text-center justify-content-evenly flex-wrap">
        <div class="d-flex flex-column col-lg-4 col-sm-12">
          <h2 class="text-light text-start">Let's talk</h2>

          <form class="d-flex flex-column text-dark bg-light form-contact align-items-center text-start">
            <h3 class="fw-bold p-4 fs-4">How can we help? <br> Complete the form and we will contact you shortly.</h3>

            <label class="w-75 fw-semibold ">Name and Surname <br>
              <input type="text" class="w-100 border">
            </label>

            <label class="w-75 py-3 fw-semibold ">Email <br>
              <input type="email" class="w-100 border" >
            </label>

            <label class="w-75 fw-semibold ">Phone <br>
              <input type="text"  class="w-100 border" >
            </label>

            <label class="w-75 py-3 fw-semibold ">Consultation <br>
              <textarea cols="30" class="w-100 border" rows="5"></textarea>
            </label>

            <label class="w-100 m-auto d-flex justify-content-center mb-3">
              <button type="submit" class="btn btn-dark my-3 w-50">Send</button>
            </label>
          </form>
        </div>


        <article >
          <div class="d-flex flex-column">
            <h2 class="text-light text-start">Our location</h2>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5128.456813210446!2d-89.37398210509205!3d40.155676667420515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880b27c56dbb1873%3A0xc65e425bcc0f416c!2s305%20Park%20Pl%2C%20Lincoln%2C%20IL%2062656%2C%20EE.%20UU.!5e0!3m2!1ses-419!2sar!4v1665544663781!5m2!1ses-419!2sar"
              width="500" height="400" style="border:0; border-radius: 5px;border-bottom-left-radius: 0px;border-bottom-right-radius: 0px;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
              
              <div class="bg-black" style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;">
                <p class="text-light py-2" > <i class="bi bi-geo-alt-fill text-light"></i> 305 Park Pl</p>
                <p class="text-light pb-0 mb-0">IL 62656</p>
                <p class="text-light pt-0 mt-0 mb-4">Lincoln, EE. UU.</p>
              </div>
              
          </div>
        </article>
      </section>
    </template>
  </main>



  <footer class="footer pt-4 mt-5 pb-5">
    <div class="conteiner-footer">
      <div class="mb-3 title">CONTACT US</div>
      <div class="paragraph-footer mb-1"><i class="bi bi-facebook me-2"></i>Facebook</div>
      <div class="paragraph-footer mb-1"><i class="bi bi-instagram me-2"></i>Instagram</div>
      <div class="paragraph-footer"><i class="bi bi-whatsapp me-2"></i>WhatsApp</div>
    </div>
    <div class="conteiner-footer">
      <div class="title mb-3">ADDRESS</div>
      <button class="title-footer"></button>
      <!-- <div class=" paragraph-footer">305 Park Pl, Lincoln, IL 62656, EE. UU.</div> -->
    </div>
    <div class="conteiner-footer">
      <div class="title mb-3">STAFF ACCOUNT</div>
      <div class="paragraph-footer"><i class="bi bi-person-circle me-2"></i>Login</div>
    </div>
    </div>

  </footer>


  <!-- SWEET ALERT -->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  
  <!-- BOOTSTRAP -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>

  <!-- VUE.JS -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./main.js"></script>


</body>

</html>